Step-Functions/step-function-json-that-waits.json
{
  "Comment": "A state machine to execute one Job",
  "StartAt": "Submit Job",
  "States": {
    "Submit Job": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:12345:function:myLambdatoExecuteJob",
      "ResultPath": "$.jobId",
      "Next": "Wait X Seconds for Job"
    },
    "Wait X Seconds for Job":{
      "Type":"Wait",
      "Seconds":30,
      "Next":"Get Job Status"
    },
    "Get Job Status": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:12345:function:getJobStatus",
      "Next": "Job Complete?",
      "InputPath": "$.jobId",
      "ResultPath": "$.status",
        "Retry": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "MaxAttempts": 2
        }
      ]
    },
    "Job Complete?": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.status",
          "StringEquals": "FAILED",
          "Next": "All Done"
        },
        {
          "Variable": "$.status",
          "StringEquals": "SUCCEEDED",
          "Next": "All Done"
        }
      ],
      "Default": "Wait X Seconds for Job"
    },
    "All Done":{
     "Type": "Wait",
     "Seconds": 30,
     "End": true
    }
   }
}